<li>
	{{this.id}}.&nbsp; {{burger_name}}
<!--mod needed: "change-sleep"-->
	<button class="change-sleep" data-id="{{this.id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Devour Burger!{{else}}Re-Order!{{/if}}
	</button>
    <!--mod needed: "class=delete-cat"-->
	<button data-id="{{this.id}}" class="delete-cat">Delete This</button>
</li>

